h1 {
  min-height: 100px;
  width: 100px;
  background: #70a1ef;
  border: 3px solid #000;
  margin: 0;
  padding: 0;
}

.board {
  width: 30%;
  margin: 0 auto;
  display: none;
}

.grid {
  width: 33%;
  float: left;
}

button {
  margin-top: 15px;
}
